# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Skip some folders
build
build_llvm
build_remill
build_triton
build_capstone
build_alive2
build_LIEF
CACHE
deps
out
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/vm_disassembler.lastbuildstate
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/lld-link.write.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/lld-link.read.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/lld-link.command.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/link.write.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/link.read.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/link.command.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/clang-cl.read.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/clang-cl.command.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/clang-cl.11872.write.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.tlog/CL.command.1.tlog
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vm_disassembler.log
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vc142.pdb
safe_01/VM_Disassembler/vm_disassembler/vm_disassembler/Debug/vc142.idb
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v16/Preview/ipch/AutoPCH/8d8494fe6d64ad79/MAIN.ipch
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v16/Preview/ipch/AutoPCH/31a4004fc7d6b0ca/MAIN.ipch
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v16/Preview/Browse.VC.db
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v16/.suo
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v15/Browse.VC.opendb
safe_01/VM_Disassembler/vm_disassembler/.vs/vm_disassembler/v15/Browse.VC.db
safe_01/VM_Disassembler/vm_disassembler/Debug/vm_disassembler.ilk
safe_01/VM_Disassembler/vm_disassembler/Debug/vm_disassembler.pdb
safe_01/VM/trace.h
safe_01/VM/vm
safe_01/VM_Inter/.vs/VM_Inter/v16/.suo
safe_01/VM_Inter/.vs/VM_Inter/v16/Preview/Browse.VC.db
safe_01/VM_Inter/.vs/VM_Inter/v16/Preview/Browse.VC.opendb
safe_01/VM_Inter/.vs/VM_Inter/v16/Preview/ipch/AutoPCH/d48444c3170578cf/VM.ipch
safe_01/VM_Inter/.vs/VM_Inter/v16/Preview/ipch/AutoPCH/e08165866bc6e33c/VM.ipch
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.log
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/CL.command.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/clang-cl.17940.write.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/clang-cl.command.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/clang-cl.read.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/lld-link.command.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/lld-link.read.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/lld-link.write.1.tlog
safe_01/VM_Inter/VM_Inter/Debug/VM_Inter.tlog/VM_Inter.lastbuildstate
safe_01/VM_Inter/VM_Inter/VM_Inter.vcxproj.user
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/.suo
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/Preview/Browse.VC.db
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/Preview/Browse.VC.opendb
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/Preview/ipch/AutoPCH/22070ae367b469f4/MAIN.ipch
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/Preview/ipch/AutoPCH/33707a63032d834f/MAIN.ipch
safe_01/VM_Unpacked/.vs/VM_Unpacked/v16/Preview/ipch/AutoPCH/ac6c476d1f474d4f/MAIN.ipch
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.log
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/CL.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/link.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/link.read.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/link.write.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/unsuccessfulbuild
safe_01/VM_Unpacked/VM_Unpacked/Debug/VM_Unpacked.tlog/VM_Unpacked.lastbuildstate
safe_01/VM_Unpacked/VM_Unpacked/Debug/vc142.idb
safe_01/VM_Unpacked/VM_Unpacked/Debug/vc142.pdb
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/vc142.idb
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/vc142.pdb
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.log
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/CL.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/CL.read.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/CL.write.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/link.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/link.read.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/link.write.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Debug/VM_Unpacked.tlog/VM_Unpacked.lastbuildstate
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/vc142.pdb
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.log
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/CL.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/CL.read.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/CL.write.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/link.command.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/link.read.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/link.write.1.tlog
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/VM_Unpacked.lastbuildstate
safe_01/VM_Unpacked/VM_Unpacked/x64/Release/VM_Unpacked.tlog/VM_Unpacked.write.1u.tlog
safe_01/VM_Unpacked/x64/Debug/VM_Unpacked.ilk
safe_01/VM_Unpacked/x64/Debug/VM_Unpacked.pdb
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.id0
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.id1
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.id2
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.iobj
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.ipdb
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.nam
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.pdb
safe_01/VM_Unpacked/x64/Release/VM_Unpacked.til
tools/keystore.pyc
safe_01/VM_Unpacked/Debug/VM_Unpacked.ilk
safe_01/VM_Unpacked/Debug/VM_Unpacked.pdb
safe_01/VM_Inter/VM_Inter/Debug/vc142.idb
safe_01/VM_Inter/VM_Inter/Debug/vc142.pdb
safe_01/VM_Inter/Debug/VM_Inter.pdb
safe_01/VM_Inter/Debug/trace.h
